body {
  background: grey !important;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.desc {
  font-size: 3rem;
}

button {
  background: red;
  width: 300px;
  height: 80px;
  font-size: 2rem;
  color: white;
  border-radius: 20px;
  border: none;
  box-shadow: 2px black;
  transition: all 0.2s;
}
button:hover {
  background: linear-gradient(red, darkred);
  cursor: pointer;
}
